
:root{
    --primarycolor:#fb4b7a;
    --violet:#624763;
    --rose:#c62e65;
    --light:#f9b3d1;
    --magenta:#ba1266;
    --bgcolor:#F3E3E6;
}

/* fixed home icon */
.home{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color:var(--violet);
    right: 10px;
    bottom: 10px;
    z-index: 99;
    color: white;
    padding: 0.6rem;
    border-radius: 50%;
}
.home:hover{
    background-color: var(--magenta);
}

/* main body */
.main{
    position: relative;
}
.main img{
    width: 100vw;
    object-fit: cover;
    height: 90vh;
    object-position:top;
}
.main h1{
    position: absolute;
    top: 45%;
    color: white;
    font-size: 3rem;
    left:10%;
}
main .main-head{
    color: var(--primarycolor);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 5rem;
}
.main-body{
    display: flex;
    justify-content: space-around;
}

/* contact section */
.contacts{
    width: 45vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-list h3{
    color: var(--violet);
}
.contact-list p{
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    font-size: medium;
}
.contact-list{
    margin: 20px 0;
}
.contact-list span{
    display: flex;
    gap: 40px;
}
.image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.image h6{
    position: relative;
    left :30%
}

/* forms */
.form{
    width: 40%;
    margin: 5% 0;
}
.form input,textarea{
    width: 90%;
    padding: 1.1rem;
    margin: 1rem;
}
.form button{
    width: 20%;
    padding: 0.5rem;
    margin:1rem;
    border-radius: 13px;
}
/* submit button */
.butn{
    margin: 2rem;
    border-radius: 10px;
    color: white;
    background-color: var(--rose);
}
.butn:hover{
    transform: scale(1.02);
    background-color: var(--violet);
    transition: all 0.05s ease;
}
/* review section */
section h2{
    color: var(--primarycolor);
    margin: 1rem 2rem;
}
.reviews{
    display: flex;
    justify-content: space-around;
}
.icon{
    display: flex;
    gap: 10px;
    color: gold;
}
.customers{
    width: 30%;
    height: 55vh;
    padding: 10px;
    box-shadow: 1px 1px 3px var(--violet);
}
.review p{
    font-size: medium;
    margin-top:10px;
}
.customers img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* responsive for mobile  */
@media (max-width:480px){
    .main-body{
        display: block;
    }
    .contacts{
        width: 100vw;
    }
    .contact-list span{
        flex-wrap: wrap;
    }
    .form{
        width: 100vw;
    }
    .reviews{
        display: block;
    }
    .customers{
        width: 100vw;
    }
}
