/* :root{
    --primarycolor:#9a1750;
    --primaryColor:rgba(234,56,101,255);
    --secondaryColor:#fdcbe2;
    --secondaryColor: #Ee4c7c;
    --lightColor:#f3dec9;
    --bgColor:#e9ece1;
    --bgColor:#E3e2df;
    --pale:rgba(204,189,160,255);
    --peachcolor:#efc477;
    --maroon:#5d001e;
    
} */

:root{
    --primarycolor:#fb4b7a;
    --violet:#624763;
    --rose:#c62e65;
    --light:#f9b3d1;
    --magenta:#ba1266;
    --bgcolor:#F3E3E6;
}

/* home icon */
.home{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color:var(--violet);
    right: 10px;
    bottom: 10px;
    z-index: 99;
    color: white;
    padding: 0.6rem;
    border-radius: 50%;
}
.home:hover{
    background-color: var(--magenta);
}

.main-body{
   position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/coperatebg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
   
}
.cop-head{
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 2rem;
    text-align: center;
    color: var(--bgcolor);
    text-shadow: 2px 2px 13px black;
}
.cop-body{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
   
    /* background-color:var(--bgColor); */
    /* height: 120vh; */
    text-align: center;
    margin: 30px;
    /* padding-top: 50px; */
}
.cop-content p{
    /* width: 70vw; */
   /* background-color:var(--primarycolor); */
   padding: 2rem;
   line-height: 2rem;
   padding: 0 5%;
}
.cop-content h2{
   /* width: 20vw; */
    height: 10vh;
    font-size: 1.8rem;
    text-align: center;
    color:var(--rose);
    /* background-color: var(--light); */
    /* background-color: blanchedalmond; */
    padding: 1rem;
}

.cop-images{
    display: flex;
   justify-content:space-evenly;
    /* background-color: var(--bgColor); */
    /* padding: 20px 10vw  */
}
.cop-images img{
    width: 450px;
    object-fit: contain;
}


/* social */
.social{
    text-align: center;
}
.social-head{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-head h2{
    color: var(--rose);
    margin-bottom: 2rem;
}
.social-head h5{
    color: var(--violet);
}

.social-body{
    
    height: 80vh;
    padding: 20px;
    font-size: 1.5m;
    text-align: center;
    color: white;
    background-image: url(/assets/images/dance.avif);
    /* background-color: green; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
}
.social-content{
    line-height: 2rem;
    padding: 0 10%;
}

.bigimage{
  
  display: flex; 
  justify-content: space-around;
  /* flex-wrap: wrap; */
   /* background-color: pink; */
    /* width:30vw; */
    margin-top: 20pt;
    padding: 30px;
   
}
.bigimage img{
    /* width: 40vw; */
    height: 40vh;
    object-fit: contain;
}

.list{
    padding: 20px;
}