:root{
    --primarycolor:#fb4b7a;
    --violet:#624763;
    --rose:#c62e65;
    --light:#f9b3d1;
    --magenta:#ba1266;
    --bgcolor:#F3E3E6;
}

/* home  */
.home{
    position: relative;
    width: 100vw;
    height: 120vh;
    background-image: url(/assets/images/home1.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.home-content{
    position: absolute;
    top: 45%;
    left: 45%;
}
.head{
    font-size: 2.5rem;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 2px 2px 8px black;
}
.subtext{
    font-size: 1.5rem;
    color: var(--magenta);
    position: relative;
    right: 10%;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgb(181, 170, 170);
}

/* about styles  */
.about{
    margin-bottom: 10px 
}
.about-body{
    display: flex;
    gap: 5rem;
    margin: 20px;
}
.about-head{
    width:100vw;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2rem;
    color: var(--violet);
    font-weight: bold;
    border-block-end: 3px solid var(--magenta);
}
.about-content{
   width: 50vw;
   text-align: center;
}
.about-content h2{
        color: var(--primarycolor);
}
.about-content h3{
    color: var(--violet);
}
.about-content p{
    font-size: medium;
    line-height:2rem;
    margin-top: 1rem;
}
/* slides */
.slide-content{
    text-align: center;
    height: 400px;
    background-color: var(--violet);
    justify-content: center;
    padding:30px;
    position: relative;
    top:70px;
}
.slides img{
    width: 420px;
    object-fit: contain;
}
.dots{
    width: 100%;
    text-align: center;
}
.dot{
    width: 15px;
    height: 15px;
    border:1px solid black;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--bgColor);
    transition: background-color 0.6s ease;
}
.active{
    background-color: var(--primaryColor);
}
/* experience boxes */
.about-exp{
    width:100vw;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}
.about-list{
    width:350px;
    background-color:var(--light);
    text-align: center;
    color: var(--violet);
    padding: 20px;
    border: 2px dashed var(--violet);
    transition: transform 0.3s ease;
}
.about-list:hover{
    transform: translateY(-10px);
}

/* services */
.services{
    margin: 20px 0;
    padding:  15px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.service-title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px ;
    color: var(--rose);
}
.service-card{
    padding: 20px;
    width: 30%;
    height: 400px;
    background-color:whitesmoke;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--violet);
}

.service-card .image img{
    width: 100%;
    max-height: 250px;
    border-radius: 10px;
}
.service-content h3{
    color: var(--magenta);
}
.service-content p{
    color: var(--violet);
}



/* responsivenes */

@media (max-width:1050px){
   
    .about-content{
        width: 100vw;
    }
    .slide-content{
        width: 100vw;
        top: 0;
    }
    .about-body{
        flex-wrap: wrap;
    }
    .about-exp{
        flex-wrap: wrap;
    }
    .about-list{
        margin-bottom: 10px;
    }
}

@media (max-width:660px){
    body{
        font-size: 12px;
    }
    .service-container{
        display: block;
    }
    .service-card{
        width: 100%;
    }
}


/* responsive for mobile */
@media (max-width:480px) {
   
    .eventlist{
        width:50vw;
    }
    .home-content{
        position: absolute;
        top: 25%;
        left: 5%
    }
    .about-body{
        display:block;
    }
    .about-content{
        width: 90vw;
     }
     .slide-content{
        height: 300px;
        width: 350px;
     }
    .about-exp{
        display: block;
    }
    .about-list{
        margin: 5px;
        width: 100%;
    }
    .slides img{
        width: 280px;
        padding: 0;
        object-fit: contain;
    }
    
}