
:root{
    --primarycolor:#fb4b7a;
    --violet:#624763;
    --rose:#c62e65;
    --light:#f9b3d1;
    --magenta:#ba1266;
    --bgcolor:#F3E3E6;
}

/* fixed home icon */
.home{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color:var(--violet);
    right: 1vw;
    bottom: 1vh;
    z-index: 99;
    color: white;
    padding: 0.6rem;
    border-radius: 50%;
}
.home:hover{
    background-color: var(--magenta);
}

/* main heading */
.main{
    height:95vh
}
.main-body{ 
     position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url(/assets/images/wedding3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(9px);
}
.main-content{
    width: 80%;
    position: relative;
    bottom: 400px;
    left: 10%;
    display: flex;
    font-size: 1.5rem;
}
.main-content h2{
    color:var(--bgColor);
    text-shadow: 1px 1px 20px var(--violet);
}
.main-content span{
    margin: 50px ;
}
.main-content h3{
    color: var(--magenta);
    text-shadow: 1px 1px 5px whitesmoke;
}

/* wedding-section */
.wedding-title1,.wedding-title2{
    width:100vw;
    height: 80px;
   font-size: 2rem;
   font-weight: bold;
    position: relative;
    padding: 1rem;
}
.wedding-title1 span{
    position: absolute;
    right: 15%;
    color: var(--primarycolor);
}
.wedding-title2 span{
    position: absolute;
    left: 15%;
    color: var(--primarycolor);
}
/* underline for title */
.underline{
    width: 330px;
    height: 3px;
    background-color:var(--violet);
    position: absolute;
    bottom: 20px;
}
.wedding-body{
    width: 100vw;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.wedding-block{
    width: 50%;
    border-radius: 15px;
    text-align: center;
}
.wedding-image img{
    margin:20px 0;
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.wedding-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
.wedding-content h3{
    color: var(--violet);
}
.wedding-content p{
    margin: 20px 0;
}
.wedding-button{
    width: 30%;
    padding:10px;
    position: relative;
    left:30%;
}

/*all buttons */
.butn{
    margin: 2rem;
    border-radius: 10px;
    color: white;
    background-color: var(--rose);
    cursor: pointer;
}
.butn:hover{
    transform: scale(1.02);
    background-color: var(--violet);
    transition: all 0.05s ease;
}

/* slider */
.slider{
    width: 100vw;
    display: flex;
    scroll-behavior: smooth;
    justify-content: space-around;
    overflow-x:auto;
}
.wedding-slider{
    display:none;
    position: relative;
    transition: all 10s smooth;
}
.slider::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 0;
}
.slider::before{
    content: "";
    width: 10%;
    height: 102%;
    position:absolute;
    background-image: linear-gradient(90deg,var(--bgColor),var(--bgColor),transparent);
    left: -10px;
    filter:blur(10px);
    margin:0;
}
.slider::after{
    content: "";
    width: 10%;
    height: 102%;
    position:absolute;
    background-image: linear-gradient(90deg,transparent,var(--bgColor),var(--bgColor));
    right: -10px;
    filter:blur(7px);
    margin:0;
}
.slides img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 20px 5px;
    border-radius: 12px;
}
.icon {
    position: absolute;
    top:40%;
    margin: 20px ;
    color:var(--rose);
    font-size: 2rem;
    cursor: pointer;
}
.icon:hover{
    transform: scale(1.1);
}
#left{
    left:-10px;
    z-index: 99;
}
#right{
    right: 0;
}

/* venue styles */
.venue{
    width: 100vw;
    background-color:var(--bgColor);
    padding-bottom: 20px;
    border :3px solid var(--violet)
}
.venue-block{
    margin: 20px;
    display: flex;
    padding: 20px;
}
.venue-head{
    width:40vw;
    height: 40px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--primarycolor);
}
.venue-head img{
    margin: 1.2rem;
    width: 400px;
    object-fit: cover;
}
.venue-buttons{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}
.venue-body{
    width: 100%;
    position: relative;
    top:40px;
    text-align: center;
    line-height: 2rem;
    color: var(--violet);
    padding: 2rem;   
}
.venue-body h3{
    margin-bottom: 1.5rem;
    color: var(--rose);
}
.venue-btn{
    margin-top: 1rem;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* venues displaying */
.destination{
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
.dest-left{
    width: 40vw;
}
.dest-right{
    display: flex;
    text-align: center;
    align-items: center;
}
.dest-right img{
    margin-left: 20px;
    width: 40vw;
    object-fit: cover;
    border-radius: 7px;
}
.dest{
    width: 100%;
    height: 110px;
    margin-top: 10px;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 2rem;
    border: 2px solid var(--violet);
}
.dest span{
    color: var(--violet);
    font-weight: bold;
}
.dest img{
    position: absolute;
    right :15%;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.dest i{
    background-color:var(--violet);
    color: white;
    padding: 10px;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.dest i:hover{
 background-color: var(--rose);
transform: scale(1.1);
}
.destinations{
    display: none;
}
/* closing butn */
.close{
    color: var(--violet);
    font-size: 2rem; 
    padding-top: 20px;  
    cursor: pointer;
}


/* service-section */
.offers{
    width: 100vw;
    padding: 10px;
}
.offer-head{
    text-align: center;
    padding: 0 50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.offer-head h3{
    font-size: 2rem;
    color: var(--primarycolor);
}
.headquotes{
    line-height: 2rem;
}
.offer-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}
.offer-container{
    width:300px;
    height: 320px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    background-color:whitesmoke;
    border-radius: 7px;
    box-shadow: 0px 0px 8px var(--violet);
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}
.circle1{
    background-color:var(--light);
    position: relative;
}
.circle1 h5{
    position: absolute;
    left: 10%;
    top:20%;
    z-index: 1;
    font-weight:550;
    font-size: 1.3rem;
}
.circle1::after{
    content: "";
    display: inline-block;
    width: 200px;
    height:200px;
    left: 0;
    z-index: 0;
    transform: scale(0);
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.circle:hover::after{
    transform: scale(1);
    background-color: var(--primarycolor);
}
.circle2 {
    background-color:var(--secondaryColor);
    position: relative;
    bottom: 45%;
    left: 15%;
}
.circle2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 8px black;
}


/* responsivenesss */
@media (max-width:1150px){
    .main-content img{
        width: 350px;
        position: relative;
        top: 50px;
    }
    .offer-body{
        flex-wrap: wrap;
    }
}

@media (max-width:1000px){
    
    .main-content img{
        display: none;
    }
    .venue-buttons{
        height: auto;
    }
    .venue-btn{
        width: auto;
        padding: 1rem;
    }
    .venue-block{
        display: block;
    }
    .venue-head{
        width: 100vw;
        height: 300px;
    }
    .venue-body{
        width: 100vw;
    }
    .venue{
        border: none;
    }
}

/* responsive for mobiles */
@media (max-width:500px){
    body{
        font-size: 12px;
    }
   .main{
        height: 120vh;
    }
    .wedding-body{
        display:block;
    }
    
    .wedding-block{
        width: 100vw;
    }
    .venue-head img{
        width: 350px;
    }
    .destination{
        display: block;
    }
    .dest-left{
        width: 100vw;
    }
    .dest-right,.close{
        display: none;
    }
    
}