:root{
    --primaryColor:rgba(234,56,101,255);
    --secondaryColor:#fdcbe2;
    --lightColor:#f3dec9;
    --bgColor:#e9ece1;
    --pale:rgba(204,189,160,255);
    --peachcolor:#efc477;
    --skin:#ff8866;
    --grey:#919d9b;
}

/* home icon */
.home{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color:var(--secondaryColor);
    right: 10px;
    bottom: 10px;
    z-index: 99;
    padding: 10px;
    border-radius: 50%;
}
.main{
    height:95vh
}
.main-body{ 
     position: relative;
    /* top: 90px; */
    width: 100vw;
    height: 90vh;
    background-image: url(/assets/images/wedding3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
    opacity: 0.8;
}
.main-content{
    position: relative;
    bottom: 400px;
    left: 10%;
    display: flex;
    /* gap:30px; */
    font-size: 1.5rem;
}
.main-content span{
    margin: 50px ;
}

/* wedding-section */

.wedding{
    width:100vw;
    /* height: 500px; */
    /* padding: 20px; */
    /* background-color:var(--grey) */
   
}

.wedding-title1,.wedding-title2{
    width:100vw;
    height: 80px;
   /* background-color: orange; */
   font-size: 2rem;
    position: relative;
    /* text-align: center; */
    
    padding: 1.5rem;
}
.wedding-title1 span{
    /* background-color:pink; */
    position: absolute;
    right: 15%;
 
}
.wedding-title2 span{
    /* background-color:pink; */
     position: absolute;
    left: 15%;
}
.wedding-body{
    width: 100vw;
    height: 400px;
    padding-top: 10px;
    /* background-color: rgb(212, 18, 18); */
    display: flex;
    justify-content: space-evenly;
}
.wedding-block{
    width: 40%;
    height: 350px;
    background-color:var(--bgColor);
    /* border:1px solid black; */
    border-radius: 15px;
    box-shadow: 2px 2px 9px grey;
    text-align: center;
    
}

.wedding-image img{
    margin:20px 0;
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.wedding-content{
    padding: 20px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
   
}
.wedding-content h3+p{
    margin: 10px 0;
}
.wedding-button{
    width: 30%;
    padding:10px;
    position: relative;
    left:30%;
    margin: 2rem;
    border-radius: 10px;
    color: white;
    background-color: var(--primaryColor);
}
.wedding-button:hover{
    color:black;
    transform: scale(1.02);
    /* background-color: var(--lightColor); */
    transition: all 0.05s ease;
}
.slider{
    width: 100vw;
    /* height: 60vh; */
    background-color: var(--bgColor);
    display: flex;
    scroll-behavior: smooth;
    justify-content: space-around;
    overflow-x:auto;
}
.wedding-slider{
    display:none;
    position: relative;
    transition: all 10s smooth;
   
}

.slider::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 0;
}
.slider::before{
    content: "";
    width: 10%;
    height: 102%;
    position:absolute;
    background-image: linear-gradient(90deg,rgb(63, 63, 63), rgb(61, 55, 55),transparent);
    left: -10px;
    filter:blur(9px);
    margin:0;
}
.slider::after{
    content: "";
    width: 10%;
    height: 102%;
    position:absolute;
    background-image: linear-gradient(90deg,transparent,rgb(63, 63, 63),black );
    right: -10px;
    filter:blur(7px);
    margin:0;
}

.slides img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 20px 5px;
    border-radius: 12px;
}
.icon {
    position: absolute;
    top:45%;
    margin: 20px ;
    color:var(--peachcolor);
    font-size: 2rem;
}
.icon:hover{
    transform: scale(1.1);
}

#left{
    left:-10px;
    z-index: 99;
}
#right{
    right: 0;
}

/* venue block */

.venue{
    width: 100vw;
    /* height: 420px; */
    background-color:palegoldenrod;
    padding-bottom: 20px;
}
.venue-block{
    margin: 20px;
    display: flex;
    padding: 20px;

}
.venue-head{
    width:40vw;
    height: 40px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--primaryColor);
    /* background-color: brown; */
}
.venue-head img{
    margin: 1.2rem;
    width: 400px;
    object-fit: cover;
    
}
.venue-buttons{
    width: 100%;
    height: 45%;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
}
.venue-body{
    width: 100%;
    position: relative;
    top:40px;
    text-align: center;
    /* background-color: blue; */
    padding: 2rem;
}
.venue-btn{
    margin-top: 1rem;
    width: 30%;
    height: 80px;
    font-size: 1.7em;
    border-radius: 12px;
    background-color:var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
.venue-btn:hover{
    background-color: #ff8866;
}
/* venue placesssss */
.destination{
    width: 100vw;
    height: 620px;
    display: flex;
    position: relative;
    /* padding: 20px 0; */
    justify-content: space-evenly;
    /* background-color: orange; */
}
.dest-left{
    width: 40vw;
}
.dest-right{
    display: flex;
    text-align: center;
    align-items: center;
}
.dest-right img{
    margin-left: 20px;
    width: 40vw;
    object-fit: cover;
    border-radius: 7px;
}
.dest{
    width: 100%;
    height: 110px;
    margin-top: 10px;
    background-color:var(--bgColor);
    display: flex;
    position: relative;
    border-radius: 5px;
    align-items: center;
    padding-left: 2rem;
}
.dest img{
    position: absolute;
    right :15%;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.dest i{
    background-color:var(--secondaryColor);
    padding: 10px;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    border:1px solid black
}
.dest i:hover{
    box-shadow:  1px 1px 20px rgb(255, 255, 150);
}
.destinations{
    display: none;
}
 /*#indian{
    display:block;
}
/* #international{
    display: none;
} */ 
/* #indian,#international{
    display:block;
} */
.close{
   font-size: 2rem; 
   padding-top: 20px;  
}


/* sssservice-section */
.offers{
    /* height: 900px; */
    width: 100vw;
    /* background-color:var(--bgColor); */
    padding: 10px;
}
.offer-head{
    text-align: center;
    font-size: 1.5rem;
    padding: 0 50px ;
    height: 250px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.offer-body{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.offer-container{
    width:23%;
    height: 320px;
    padding: 20px;
    position: relative;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 8px grey;
}
.circle{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
.circle1{
    background-color:lightpink;
    position: relative;
}
.circle1 h5{
    position: absolute;
    left: 10%;
    top:20%;
    z-index: 1;
    font-size: 1.4rem;
}
.circle1::after{
    content: "";
    display: inline-block;
    width: 200px;
    height:200px;
    /* position: absolute; */
    background-color: orange;
    left: 0;
    z-index: 0;
    transform: scale(0);
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.circle:hover::after{
    transform: scale(1);
}
.circle2 {
    background-color: yellow;
    position: relative;
    bottom: 45%;
    left: 15%;
}
.circle2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 8px black;
}